/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-roomworksmedia-block-roomworksmedia-forcast {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.weather-header {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		
		&.icon-position-top {
			flex-direction: column;
		}
		
		&.icon-position-bottom {
			flex-direction: column-reverse;
		}
		
		&.icon-position-left {
			flex-direction: row;
			
			.weather-icon {
				margin-right: 10px;
				margin-left: 0;
			}
		}
		
		&.icon-position-right {
			flex-direction: row;
			
			.weather-icon {
				margin-left: 10px;
			}
		}
		
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			display: inline-block;
		}
	}

	.weather-icon {
		height: 50px; // Default icon size
		width: auto;
		
		// Remove margins in top/bottom positions
		.icon-position-top &,
		.icon-position-bottom & {
			margin: 5px 0;
		}
	}

	.toggle-button {
		background: #f1f1f1;
		color: #000;
		border: 1px solid #ccc !important;
		padding: 10px 20px;
		margin: 20px 0;
		cursor: pointer;
	}

	.forecast {
		width: 100%;

		p {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			padding-bottom: 20px;
			border-bottom: 1px solid #0000004a;
		}
	}

	&.dark-theme {
		background: #333;
		color: #fff;

		button {
			background: #555;
			color: #fff;
			border: 1px solid #777;
		}

		p {
			color: #ddd;
		}
	}
}